.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black; 
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li {
    padding: 10px;
}
    
.logo{
    width: 100px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
  
  .card h2 {
    font-size: 1.2rem;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .card h3 {
    font-size: 1rem;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  


.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width:200px;
    height:200px;
    background-color: lightgray;
    margin:20px;
}



/* PARCEL FEATURES-----
   *
   *
   HRM-hot module reloading(auto upgradation on webpage by just saving the file)
   FILE WATCHER ALGORITHM-C++
   BUNDLES
   MINIFY
   CLEAR THE CODE
   DEV AND PRODUCTION BUILD
   SUPER FAST ALGO
   IMAGE OPTIMIZATION
   CACHING WHILE DEVELOPMENT
   COMPRESSION
   COMPATIBLE WITH ILDER VERSION OF BROWSER
   HTTPS on dev
   PORT NUMBER
   CONSISTENT HASHING ALGORITHM
   ZERO CONFIG
   TRANSITIVE DEPENDENCIES
   *
   *
*/